---
import AllNotice from "../components/Notifications/AllNotice.astro"
import HeaderNotice from "../components/Notifications/HeaderNotice.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
	<section
		class="mx-auto max-h-3xl w-full max-w-3xl overflow-hidden rounded-2xl bg-app-900 p-8 shadow-app"
	>
		<article class="grid h-full max-h-[calc(52.5rem-32px-32px)] grid-rows-[auto,1fr] gap-y-8">
			<HeaderNotice />

			<div class="no-scrollbar relative size-full max-h-full overflow-auto">
				<!-- <div class="absolute left-0 right-0 top-0 h-10 w-full bg-gradient-to-b from-white"></div> -->
				<!-- <div class="absolute bottom-0 left-0 right-0 h-10 w-full bg-gradient-to-t from-white"></div> -->

				<AllNotice />
			</div>
		</article>
	</section>
</Layout>
