---

---

<header class="flex items-center justify-between gap-x-5">
	<h2 class="text-2xl font-bold">
		<span class="inline-flex items-center justify-center gap-x-3">
			Notifications
			<span
				class="h-6 min-w-8 rounded-md bg-app-100 px-2 text-center text-sm font-semibold leading-6 text-white"
				>3</span
			>
		</span>
	</h2>

	<button class="text-app-400 transition-colors duration-300 ease-in hover:text-app-100">
		<span class="text-base font-medium">Mark all as read</span>
	</button>
</header>
